<tasks-filter (filterEvent)="onFilter($event)"></tasks-filter>
<div>
  <table class="table col-xs-12">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col" (click)="onSort('name')">Nazwa</th>
        <th scope="col" (click)="onSort('realization')">Realizacja</th>
        <th scope="col" (click)="onSort('dateStart')">Początek</th>
        <th scope="col" (click)="onSort('dateEnd')">Koniec</th>
        <th scope="col">Typ</th>
        <th scope="col">Opis</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of Tasks" (click)="openTaskDialog(task.id)">
          <th scope="row"></th>
          <td>{{task.name}}</td>
          <td>{{task.realization}}%</td>
          <td>{{task.dateStart}}</td>
          <td>{{task.dateEnd}}</td>
          <td>{{task.organizationType}}</td>
          <td [matTooltip]="task.description">
            <i class="fa fa-list icon-border"></i>
          </td>
      </tr>
    </tbody>
  </table>
</div>
