<nav class="navbar navbar-light justify-content-between">
  <div class="end">
    <div class="new-task-btn" (click)="openNewTaskDialog()">
      <i class="fa fa-plus nav-icon"></i> <span>Nowe zadanie</span>
     </div>
    <form class="form-inline">
      <input class="form-control search-input mr-sm-2" type="search" placeholder="Zadanie" aria-label="Search">
      <button class="btn btn-outline-success btn-sm my-2 my-sm-0 my-btn-color" type="submit"><div>Szukaj</div></button>
    </form>
  </div>
</nav>
<table class="table">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Nazwa</th>
        <th scope="col">Realizacja</th>
        <th scope="col">Początek</th>
        <th scope="col">Koniec</th>
        <th scope="col">Typ</th>
        <th scope="col">Opis</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let task of Tasks" (click)="openTaskDialog(task.id)">
          <th scope="row"></th>
          <td>{{task.name}}</td>
          <td>{{task.realization}}%</td>
          <td>{{task.dateStart}}</td>
          <td>{{task.dateEnd}}</td>
          <td>{{task.organizationType}}</td>
          <td [matTooltip]="task.description">
            <i class="fa fa-list icon-border"></i>
          </td>
      </tr>
    </tbody>
  </table>