$bg-color-1: rgba(126, 207, 159,0.5);
$bg-color-2: rgba(255, 245, 239, 0.3);
$bg-color-3: rgba(231, 229, 238, 0.3);
$bg-color-4:rgba(255, 255, 255, 0.4);

$font-color:rgba(44, 44, 44, 0.8);
$font-color-hover:rgba(44, 44, 44, 1); 
$font-color-active: rgba(0,0,0,.9);

.kanban-container{
    display: flex;
    flex-direction: row;
    min-height: 73vh;
    justify-content: space-evenly;
}

.kanban-column{
    min-width: 28%;
    max-width: 30%;
    min-height: 80%;
    margin-bottom: 0.5rem;
    border: 1px;
    border-radius: 0.5rem;
    //border-bottom-right-radius: 0.5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: $bg-color-2;
}

.kanban-column-header{
    background-color: $bg-color-1;
    padding: 0.5rem;
    text-align: center;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.kanban-column-body{
    padding: 0.5rem;
}

.navbar-light{
    background-color: $bg-color-4;
    border-radius: 0.8rem;
    margin-bottom: 1rem;
}

.search-input{
    height: 2rem;
}

.end{
    margin-left: auto;
    display: flex;
    flex-direction: row;
}


::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0em;
}


::ng-deep .mat-form-field-wrapper {
    padding-bottom: 0em;
}

// ::ng-deep input.mat-input-element.mat-form-field-autofill-control {
//             margin-top: 0em !important;
//         }

// ::ng-deep .mat-datepicker-input-container {
//     width: 100px;
//     height: 100px !important;
// }

.date-picker{
    width: 150px !important;
    margin: 0px 10px !important;
    font-family: inherit !important;
}

.date-input{
    margin-bottom: 15px !important;
    vertical-align: middle !important;
}

#nav-label{
    margin-right: 10px;
}

::ng-deep mat-form-field.date-picker{
    width: 150px !important;
    margin: 0px 10px !important;
    font-family: inherit !important;
}
::ng-deep .mat-option.mat-selected:not(.mat-option-disabled){
    color: $bg-color-1 !important;
    font-weight: bold;
}
  
::ng-deep .mat-select-arrow{
    color: $bg-color-1 !important;
}
::ng-deep .mat-calendar-body-selected {
    background-color: $bg-color-1 !important;
}