<nav class="navbar navbar-light justify-content-between">
    <div>
      <form class="form-inline">
          <label>Pokaż zadania od:</label>
          <mat-form-field appearance="outline" class="date-picker"> 
            <input matInput [matDatepicker]="pickerS" (dateChange)="dateStartSelected()"
            class="date-input" [formControl]="dateStart">
            <mat-datepicker-toggle matSuffix [for]="pickerS" ></mat-datepicker-toggle>
            <mat-datepicker #pickerS></mat-datepicker>
          </mat-form-field>
          <label>do:</label>
          <mat-form-field class="date-picker" appearance="outline">
            <input matInput [matDatepicker]="pickerE" (dateChange)="dateEndSelected()"
            class="date-input" [formControl]="dateEnd">
            <mat-datepicker-toggle matSuffix [for]="pickerE"></mat-datepicker-toggle>
            <mat-datepicker #pickerE></mat-datepicker>
          </mat-form-field>
          <label id="nav-label"> z kategorii:</label>
          <mat-form-field class="date-picker" appearance="outline">
            <mat-select class = "type-select"
                    [formControl] ="organizationTypeId">
              <mat-option #defaultType [value]="0">
                Wszystkie
              </mat-option>
              <mat-option *ngFor="let type of organizationTypes" [value]="type.id">
                {{type.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </form>
    </div>
    <button type="button" class="btn btn-dark" (click)="filter()">Filtruj</button>
</nav>
