
  <nav class="navbar navbar-expand-md navbar-light justify-content-between">
    <button class="navbar-toggler show-filters-btn" type="button" data-toggle="collapse" data-target="#filterContent" aria-controls="filterContent" aria-expanded="false" aria-label="Toggle navigation"
              (click)="showFilters=!showFilters">
      <span>Filtry 
        <i *ngIf="!showFilters" class="fa fa-angle-down"></i>
        <i *ngIf="showFilters" class="fa fa-angle-up"></i></span>
    </button>
    <div class="collapse navbar-collapse" id="filterContent">
      <div>
        <form class="form-inline">
            <div class="filter-box" [ngClass]="{'filter-box-mobile': showFilters}">
              <label *ngIf="!showFilters" style="padding-right: 10px;">Pokaż zadania</label>
              <label [ngClass]="{'filter-label': showFilters}">od:</label>
              <mat-form-field appearance="outline" class="date-picker"> 
                <input matInput [matDatepicker]="pickerS"
                class="date-input" [formControl]="dateStart">
                <mat-datepicker-toggle matSuffix [for]="pickerS" ></mat-datepicker-toggle>
                <mat-datepicker #pickerS></mat-datepicker>
              </mat-form-field>
            </div> 
            <div class="filter-box" [ngClass]="{'filter-box-mobile': showFilters}">
              <label [ngClass]="{'filter-label': showFilters}">do:</label>
              <mat-form-field class="date-picker" appearance="outline">
                <input matInput [matDatepicker]="pickerE"
                class="date-input" [formControl]="dateEnd">
                <mat-datepicker-toggle matSuffix [for]="pickerE"></mat-datepicker-toggle>
                <mat-datepicker #pickerE></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="filter-box" [ngClass]="{'filter-box-mobile': showFilters}">
              <label [ngClass]="{'filter-label': showFilters}"> z kategorii:</label>
              <mat-form-field class="date-picker" appearance="outline">
                <mat-select class = "type-select"
                        [formControl] ="organizationTypeId">
                  <mat-option #defaultType [value]="0">
                    Wszystkie
                  </mat-option>
                  <mat-option *ngFor="let type of organizationTypes" [value]="type.id">
                    {{type.name}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            
          </form>
      </div>
      <div class="filter-btn-box" [ngClass]="{'filter-box filter-box-mobile': showFilters}" >
        <button type="button" class="btn btn-dark"  [ngClass]="{'filter-btn-mobile': showFilters}" (click)="filter()">Filtruj</button>
      </div>
      
    </div>   
  </nav>
