<div mat-dialog-title class="heading">
    <div style="display:inline-block"> <i class="fa fa-edit" style="font-size: 30px; padding: 7px 3px 7px 0px; vertical-align: middle;"></i><strong style="vertical-align: middle;"> {{taskData.name}} </strong> </div>
</div>
<mat-dialog-content [formGroup]="taskForm">
    <mat-form-field>
        <input matInput
        placeholder="Nazwa: "
               formControlName ="name">
    </mat-form-field>
    <mat-form-field>
        <input matInput
        placeholder="Opis: "
               formControlName ="description">
    </mat-form-field>
    <mat-form-field>
        <input matInput
                placeholder="Data rozpoczęcia: "
               formControlName ="dataStart">
    </mat-form-field>
    <mat-form-field>
        <input matInput
                placeholder="Data zakończenia: "
               formControlName ="dataEnd">
    </mat-form-field>
    <mat-form-field>
     <i class="fa fa-minus icon-border"> </i>
     <input matInput
                placeholder="Realizacja: "
               formControlName ="realization" style="width: 10%; text-align: center;">
    <i class="fa fa-plus icon-border"> </i>
    </mat-form-field>
    
</mat-dialog-content>

<mat-dialog-actions>
    <button type="button" class="btn btn-dark first" (click)="save()">Zapisz</button>
    <button type="button" class="btn btn-dark" (click)="close()">Zamknij</button>
</mat-dialog-actions>

