<div mat-dialog-title class="heading">
    <div style="display:inline-block; opacity: 0.9;"> <i class="fa fa-edit" style="font-size: 30px; padding: 7px 3px 7px 0px; vertical-align: middle;"></i>
        <span style="vertical-align: middle; font-size: 1.3rem"> {{taskData.name}}: </span>
    </div>
</div>
<mat-dialog-content [formGroup]="taskForm">
    <mat-form-field>
        <input matInput
        placeholder="Nazwa: "
               formControlName ="name" [readonly]="!editMode">
    </mat-form-field>
    <div class="input-label">Typ:</div>
    <mat-form-field>
        <mat-select style
                formControlName ="organizationType" [disabled] ="!editMode">
          <mat-option *ngFor="let type of organizationTypes" [value]="type.name">
            {{type.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    <mat-form-field>
        <textarea matInput style="margin-top: 5px;"
        placeholder="Opis: "
               formControlName ="description" [readonly]="!editMode"> </textarea>
    </mat-form-field>
    <mat-form-field>
        <input matInput
                placeholder="Data rozpoczęcia: "
               formControlName ="dateStart" [readonly]="!editMode">
    </mat-form-field>
    <mat-form-field>
        <input matInput
        placeholder="Data zakończenia: "
       formControlName ="dateEnd" [readonly]="!editMode">
    </mat-form-field>
    <div class="input-label">Realizacja:</div>
    <div class="realization-input">
        
        <div *ngIf="editMode" (click)="sub()"><i class="fa fa-minus icon-border"></i></div>
        <div class="input-part">
            <div>{{taskData.realization}}</div> 
        </div>
        <div *ngIf="editMode" (click)="add()"><i class="fa fa-plus icon-border"></i></div>
    </div>
    
</mat-dialog-content>

<mat-dialog-actions>
    <button *ngIf="!editMode" type="button" class="btn btn-dark first" (click)="editMode = true">Edytuj</button>
    <button *ngIf="editMode" type="button" class="btn btn-dark first" (click)="save()">Zapisz</button>
    <button type="button" class="btn btn-dark" (click)="close()">Zamknij</button>
</mat-dialog-actions>

