/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import "~bootstrap-icons/font/bootstrap-icons.css";

html, body {
    font-family: 'Raleway',
    //sans-serif;
}

.icon-border{
    border-style: solid;
    border-radius: 30px;
    padding: 4px 6px;
    font-size: 14px;
    border-width: 1px;
    opacity: 0.8;
    cursor: pointer;
  }