<div mat-dialog-title class="heading">
    <div style="display:inline-block; opacity: 0.9;"> <i class="fa fa-plus-square" style="font-size: 30px; padding: 7px 3px 7px 0px; vertical-align: middle;"></i>
        <span style="vertical-align: middle; font-size: 1.3rem"> Nowe zadanie: </span> </div>
</div>
<mat-dialog-content [formGroup]="taskForm">
    <mat-form-field>
        <input matInput
        placeholder="Nazwa: "
               formControlName ="name">
    </mat-form-field>
    <div class="input-label">Typ:</div>
    <mat-form-field>
        <mat-select
                formControlName ="organizationType">
          <mat-option *ngFor="let type of organizationTypes" [value]="type.name">
            {{type.name}}
          </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <textarea matInput style="margin-top: 5px;"
        placeholder="Opis: "
               formControlName ="description"> </textarea>
    </mat-form-field>
    <!-- <mat-form-field>
        <input matInput
                placeholder="Data rozpoczęcia: "
               formControlName ="dateStart">
    </mat-form-field>
    <mat-form-field>
        <input matInput
        placeholder="Data zakończenia: "
       formControlName ="dateEnd">
    </mat-form-field> -->
    <mat-form-field class="date-picker" appearance="outline">
        <mat-label>Data rozpoczęcia:</mat-label>
        <input matInput [matDatepicker]="pickerStart" (dateChange)="dateStartSelected()"
            class="date-input" formControlName="dateStart">
        <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
        <mat-datepicker #pickerStart></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="date-picker" appearance="outline">
        <mat-label>Data zakończenia:</mat-label>
        <input matInput [matDatepicker]="pickerEnd" (dateChange)="dateEndSelected()"
            class="date-input" formControlName="dateEnd">
        <mat-datepicker-toggle matSuffix [for]="pickerEnd"></mat-datepicker-toggle>
        <mat-datepicker #pickerEnd></mat-datepicker>
    </mat-form-field>
    <div class="input-label">Realizacja:</div>
    <div class="realization-input">
        
        <div (click)="sub()"><i class="fa fa-minus icon-border"></i></div>
        <div class="input-part">
            <div>{{taskData.realization}}</div> 
        </div>
        <div (click)="add()"><i class="fa fa-plus icon-border"></i></div>
    </div>
    
</mat-dialog-content>

<mat-dialog-actions>
    <button type="button" class="btn btn-dark first" (click)="save()">Zapisz</button>
    <button type="button" class="btn btn-dark" (click)="close()">Zamknij</button>
</mat-dialog-actions>

