$bg-color-1: rgba(126, 207, 159, 0.7);
$bg-color-2: rgba(255, 245, 239, 0.3);
$bg-color-3: rgba(231, 229, 238, 0.3);
$font-color:rgba(44, 44, 44, 0.6);
$font-color-hover:rgba(44, 44, 44, 1); 
$font-color-active: rgba(0,0,0,.9);

.heading {
    font-size: 1rem;
    background-color:$bg-color-1;
    border-radius: 0.5rem;
    opacity: 0.8;
    padding: 0 0.5rem;
}
mat-form-field {
    display: block;
    width: 70%;
    font-family: inherit !important;
}

button.first{
    margin-left: auto;
    margin-right: 0.8rem;
}

.mat-form-field-label{
  font-size: 1.5rem !important;
  font-weight: 600 !important;
  color: $bg-color-1 !important;
}

.mat-form-field-ripple{
  background-color: $bg-color-1 !important;
}

input{
    margin-top: 0.5rem !important;
}

.icon-border{
  border-style: solid;
  border-radius: 40px;
  padding: 4px 6px;
  font-size: 14px;
  border-width: 2px;
  opacity: 0.8;
  cursor: pointer;
}

.realization-input{
  display: flex;
  flex-direction: row;
  width:20%;
  margin-top:0.5rem;
}
.input-part{
  margin: auto;
  width:100%;
  text-align: center;
  border-bottom: 1px solid ;
  border-color: $font-color;
}
.input-label{
  font-size: 1.2rem;
  font-weight: bold;
  color: $bg-color-1;
}
textarea{
  height: auto !important;
}

.mat-option.mat-selected:not(.mat-option-disabled){
  color: $bg-color-1 !important;
  font-weight: bold;
}

.mat-select-arrow{
  color: $bg-color-1 !important;
}

